{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"], // [设定] 句尾后面不要有分号
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1
  }
}
